<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>管理系统</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css">
    <link rel="stylesheet" href="../static/nav.css">
    <link rel="stylesheet" href="../static/text.css">
    <script>
        function show() {
            var url = '/change'
            $.get(url = url, success = (data, status) => {
                $("#replaced").replaceWith(data)
            })
        }
        function add(){
            var url = '/addChange'
            $.post(url = url,data={
                lou:$('#lounum').val(),
                hu:$('#hunum').val()
            }, success = (data) => {
                $("#suc").text(data)
            })
        }
        function rem(){
            var url = '/rmChange'
            $.post(url = url,data={
                lou:$('#lounum').val(),
                hu:$('#hunum').val()
            } ,success = (data) => {
                $("#suc").text(data)
            })
        }
    </script>
</head>

<body class="body-back">
    <nav class="menu-wrap" style="background:rgb(70, 136, 235);float:left;z-index:9999">
        <div class="menu">
            <span style="color:#ffffff"><i style="width: 20%;" class="bi bi-arrow-right-circle"></i></span>
            <ul>
                <li>
                    <a href="/">
                        <i style="margin-left: -66px;" class="bi bi-hand-index-fill"></i>
                        <span class="nav-text" style="margin-left: 56px;">首页</span>
                    </a>
                </li>
                <li>
                    <a href="/login">
                        <i class="fa fa-flask fa-lg"></i>
                        <span class="nav-text">算法部分及参数</span>
                    </a>
                </li>
                <li>
                    <a href="/weight">
                        <i class="fa fa-lightbulb-o fa-lg"></i>
                        <span class="nav-text">分类情况演示</span>
                    </a>
                </li>
                <li style="background-color: #00bbbb">
                    <a href="/add">
                        <i class="fa fa-align-left fa-lg"></i>
                        <span class="nav-text">注册</span>
                    </a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="container">
        <div class="row">
            <div class="card col-sm-7 offset-sm-1">
                <div class="card-header" style="background-color: #6150f8;">
                    <h3>请如实填写相关信息并等待审核</h3>
                </div>
                <div class="card-body" style="height: 595px;">
                    <form action="/add" method="post" accept-charset="utf-8" enctype="application/x-www-form-urlencoded" target="_self" name="regForm" style="height: 100%;">
                        <div class="container">
                            <div class="row">
                                <div class="col-sm-6 offset-sm-3">
                                    <span style="white-space: pre;">姓       名：</span><span><%= name %></span><br><br>
                                    <span style="white-space: pre;">联系方式：</span><span><%= number %></span><br><br>
                                    <span style="white-space: pre;">用 户 名：</span><span><%= username %></span><br><br>
                                    <span style="white-space: pre;">拥有房屋：</span><span><%= house %></span><br><br>
                                    <span style="white-space: pre;">现有申请：</span><br>
                                    <span><%= change %></span>
                                </div><br><br><br><br><br><br>
                                <div id="replaced"></div>
                                <span id="suc"></span>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="body-footer" style="background-color: #6150f8;">
                    <p>如果您的房屋已被注册，且注册者不是您，或者忘记了您的密码，请联系管理员解决。请保管好您的账号密码。</p>
                </div>
            </div>
            <div class="card col-sm-3">
                <div class="card-header" style="background-color: #6150f8;">
                    <h3>登录</h3>
                </div>
                <div class="card-body" style="height: 595px;">
                    <h6>有房屋信息变更？点击下方按钮修改您和您的账号拥有的房屋情况！</h6><br><br><hr>
                    <button type="button" class="col-sm-4 offset-sm-4 btn btn-primary" onclick="show()">修改</button>
                </div>
            </div>
        </div>
    </div>
</body>